/* .my-main-menu {
    z-index: 1;
    width: 90%;
    margin: 2rem 5%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 1rem 2rem;
    border-radius: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
} */

/* .my-main-menu .site-title{
    display: inline-flex;
    color: white;
} */

/* .my-navbar {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding: 0;
    align-items: center;
} */

/* .my-navbar ul{
    display: flex;
    gap: 25px;
} */
/* .my-navbar li{
    list-style: none;
} */

/* .my-navbar li a{
    color: white;
} */

.custom-logo{
    width: 4rem;
} 


.elementor img {
    /* height: 100vh !important; */
}

/* .relative-container.elementor-widget{
    position: relative;
    min-height: 80vh;
}  */

/* .background-element.elementor-widget{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
} */

/* .content-container.elementor-widget{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
} */

/* .post-title{
    z-index: 2;
} */


.slicknav_menu {
	display:none;
}

/* @media screen and (max-width: 40em) {
	.my-main-menu {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}
} */